DECOY_PROFILE={{ item.name }}
DECOY_ID={{ item.decoy_id }}
DECOY_TITLE={{ item.title }}
DECOY_HOSTNAME={{ item.decoy_id }}
DECOY_LABEL={{ item.label }}
COLLECTOR_URL=http://10.0.2.2:5001/event
COLLECTOR_TOKEN={{ ingest_api_key }}
EDGE_NODE_ID={{ edge_node_id | default(inventory_hostname) }}
DECOY_VERSION={{ decoy_release_version }}
PUBLIC_ENDPOINT={{ public_base_url }}:{{ item.port }}
SITE={{ item.site }}
ENVIRONMENT={{ item.environment }}
COVERAGE_ROLE={{ item.coverage_role }}
HEARTBEAT_INTERVAL_SECONDS=30
STARTUP_TIMEOUT_SECONDS={{ decoy_startup_timeout_seconds | default(90) }}
CHECK_INTERVAL_SECONDS={{ decoy_check_interval_seconds | default(10) }}
FAILURE_THRESHOLD={{ decoy_failure_threshold | default(3) }}
STARTUP_DELAY_SECONDS={{ item.startup_delay_seconds | default(0) }}
KRAFT_LOCK_FILE={{ kraft_lock_file | default('/run/honeynet-kraft.lock') }}
KRAFT_LOCK_TIMEOUT_SECONDS={{ kraft_lock_timeout_seconds | default(180) }}
KRAFTKIT_NO_CHECK_UPDATES=true
HOST_PORT={{ item.port }}
