EDGE_RELAY_UPSTREAM_EVENTS_URL={{ control_plane_base_url }}/events
EDGE_RELAY_UPSTREAM_HEARTBEATS_URL={{ control_plane_base_url }}/heartbeats
EDGE_RELAY_UPSTREAM_INGEST_KEY={{ ingest_api_key }}
EDGE_RELAY_SPOOL_DIR=/var/lib/honeynet-edge-relay
EDGE_NODE_ID={{ edge_node_id | default(inventory_hostname) }}
